/* Give each book-div a rounded border. */
.book-div {
  border: thin solid black;
  border-radius: 5px;
  margin-top: 20px;
}

/* Add a bottom border to the book title. */
.book-title {
  border-bottom: thin solid black;
  padding: 5px;
}

/* Give the list of book authors a margin so the text
   isn't too close to the border. */
.book-authors {
  padding: 5px;
}

.add-to-shelf-button {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 150px;
}

.dropdown {
  background-color: #e4e5e6;
  margin: -10px 10px 10px 10px;
  position: absolute;
  width: 150px;
}

.reading-status {
  margin: 0;
  width: 150px;
}

.reading-status-set {
  background-color: #404951 !important; /* csslint-disable-line important */
  border-radius: 0;
  color: white !important; /* csslint-disable-line important */
}

.left-align {
  margin: 5px;
  text-align: left;
}

.right-align {
  margin: 5px;
  text-align: right;
}

.hidden {
  display: none;
}
