/* Give each book-div a rounded border. */
.book-div {
  border-left: solid 10px;
  margin: 30px 0;
  padding: 0 20px;
}

/* Add a bottom border to the book title. */
.book-title {
  margin-bottom: 0;
}

/* Give the list of book authors a margin so the text
   isn't too close to the border. */
.book-authors {
  margin: 5px 0;
}

.book-rating {
  height: 20px;
}

.star {
  background-repeat: no-repeat;
  background-size: 15px;
  float: left;
  height: 15px;
  width: 15px;
}

.star-0 {
  background-image: url('../image/star-0.png');
}

.star-5 {
  background-image: url('../image/star-5.png');
}

.star-10 {
  background-image: url('../image/star-10.png');
}

.hidden {
  display: none;
}
