/* Give each thread listing a rounded border. */
.thread-a {
  border: thin solid black;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
}

/* Add a bottom border to the thread name. */
.thread-name {
  border-bottom: thin solid black;
  padding: 5px;
}

/* Give the thread description a margin so the text
   isn't too close to the border. */
.thread-description {
  padding: 5px;
}

.left-align {
  margin: 5px;
  text-align: left;
}

/* Use this to hide certain elements. */
.hidden {
  display: none;
}
