.book-div {
  border-left: solid 10px;
  margin: 30px 0;
  padding: 0 20px;
}

.book-title {
  margin-bottom: 0;
}

.book-authors {
  margin: 5px 0;
}

.reading-status {
  border-radius: 5px 0 0 5px;
  height: 20px;
  line-height: 1.0rem;
  margin-bottom: 0;
  padding: 0;
  pointer-events: none;
  width: 110px;
}

.reading-status-arrow {
  border-radius: 0 5px 5px 0;
  height: 20px;
  line-height: 1.0rem;
  margin-bottom: 0;
  margin-left: 1px;
  padding: 0;
  width: 20px;
}

.book-WANT_TO_READ {
  border-left-color: #e4e5e6;
}

.reading-status-WANT_TO_READ {
  background-color: #e4e5e6;
  border: none;
  color: #9b4dca;
}

.book-READING {
  border-left-color: #9b4dca;
}

.reading-status-READING {
  background-color: #9b4dca;
  border: none;
}

.book-READ {
  border-left-color: #7b858e;
}

.reading-status-READ {
  background-color: #7b858e;
  border: none;
}

.book-DID_NOT_FINISH {
  border-left-color: #cc92ef;
}

.reading-status-DID_NOT_FINISH {
  background-color: #cc92ef;
  border: none;
}

.dropdown {
  background-color: #e4e5e6;
  position: absolute;
  width: 110px;
}

.reading-status-option {
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 110px;
}

.hidden {
  display: none;
}
